<!DOCTYPE html>
<html>

<head>
    <title>
        Your CCI Account Is Ready!
    </title>
</head>

<body>
    <h2>Password Successfully Set</h2>
    <p>Hi {{.FirstName}},</p>
    <p>Welcome to Celebration Church International (CCI) !</p>

    <p>Your password has been successfully set, and your account is now active on the CCI member portal.</p>

    <p>You can now log in using your email and newly created password.</p>

    <p><a href="{{.Link}}">Log in to Member Portal</a></p>

    <p>If you have any trouble accessing your account or need assistance, feel free to reach out to us.</p>

    <p>Welcome once again!</p>

    <p>Blessings,</p>
    <p>CCI Admin Team</p>

    <p>In Christ, For Christ, With Joy!</p>
</body>

</html>