<!DOCTYPE html>
<html>

<head>
    <title>
        Welcome to CCI Member Portal Set Your Password
    </title>
</head>

<body>
    <h2>Welcome to CCI!</h2>
    <p>Hi {{.FirstName}},</p>
    <p>Welcome to Celebration Church International (CCI) !</p>

    <p>You have just been added to our member portal by the admin. To complete your setup, please click the button below
        to create your password:</p>

    <p><a href="{{.Link}}">Set Your Password</a></p>
    <p>Once you set your password, you will be able to log in to the member portal and access all the features available
        to our members.</p>

    <p>This link will take you to a secure page where you can set a password for your account.</p>

    <p>If you did not expect this email or believe this was sent in error, please contact the church office immediately.
    </p>

    <p>Blessing,</p>
    <p>CCI Admin Team</p>

    <p>In Christ, For Christ, With Joy!</p>
</body>

</html>